<html>
  <head>
    <title>Home Page</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/styles/css/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div class="home-container text-center">
      <div class="home-header">
        <i class="far fa-comments"></i>
        <h2>Welcome, you are visiting NAUKMA Community.</h2>
        <p>To start, lets login or register<p>
      </div>
      <div class="home-btn-group">
        <!-- Login modal -->
        <button type="button" class="grey-btn" data-toggle="modal" data-target="#loginModal">Login</button>
        <!-- Registration modal -->
        <button type="button" class="grey-btn" data-toggle="modal" data-target="#RegistrationModal">Registration</button>
      </div>
    </div>

  </div>
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h4 class="home-title text-center">LOGIN</h4>

            <form name="login-form" action="/login-me" method="post">
              <div class="home-form-group">
                <i class="fa fa-user"></i>
                <input type="text" class="home-form-control" placeholder="Email" name="email" required>
              </div>
              <div class="home-form-group">
                <i class="fa fa-lock"></i>
                <input type="password" class="home-form-control" placeholder="Password" name="password" required>
              </div>
              <div class="home-btn-group">
                 <button type="submit" class="submit">Login</button>
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /Login Modal -->

    <!-- Registration Modal -->
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h4 class="home-title text-center">REGISTRATION</h4>

            <form name="registration-form" action="/register-me" method="post">
              <div class="home-form-group">
                <i class="fas fa-user-edit"></i>
                <input type="text" class="home-form-control" placeholder="Name" name="name" required>
              </div>
              <div class="home-form-group">
                <i class="fas fa-user-edit"></i>
                <input type="text" class="home-form-control" placeholder="Surname" name="surname" required>
              </div>
              <div class="home-form-group">
                <i class="fas fa-user-edit"></i>
                <input type="text" class="home-form-control" placeholder="Email " name="email" required>
              </div>
              <div class="home-form-group">
                <i class="fas fa-user-edit"></i>
                <input type="password" class="home-form-control" placeholder="Password" name="password" required>
              </div>
              <div class="home-form-group">
                <i class="fas fa-user-edit"></i>
                <input type="text" class="home-form-control" placeholder="Year of Study" name="year_of_study" required>
              </div>
              <div class="home-form-group">
                <i class="fas fa-user-edit"></i>
                <input type="text" class="home-form-control" placeholder="Faculty" name="faculty" required>
              </div>
              <div class="home-btn-group">
                <button type="submit" class="submit">Register</button>
              </div>
             </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /Registration Modal -->


     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
