<div class=​"jumbotron">
  <h2>Welcome, you are visiting NAUKMA Community application.</h2>
  <p>To start, lets login or register<p>

   <a class="btn btn-lg btn-primary" href="/login" role="button">Login</a>
   <a class="btn btn-lg btn-primary" href="/registration" role="button">Registration</a>
</div>
