<html>
  <head>
    <title>Main Page</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/styles/css/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>


    <main id="main">
        <div class="chat-container">
          <div class="left-panel">
          <aside id="chat-rooms">
            <h4>Your groups<h4>
            <%- user_groups.each do |group| -%>
            <div class="chat-room-list-item">
              <div class="group-img">
                <i class="fab fa-angellist"></i>
              </div>
              <div class="chat-room-list-info">
                <form action="/join" method="get">
                  <input type="hidden" name="group" value="<%= group.id %>" />
                  <h5><%= group.name %></h5>
                  <button class="chat-btn" name="action" value="join" type="submit">Join</button>
                  <button class="chat-btn" name="action" value="delete" type="submit">Delete</button>
                </form>
              </div>
            </div>
            <%- end -%>
          </aside>

          <aside id="available-chats">
            <h4>Other groups<h4>
            <%- groups.each do |group| -%>
            <div class="chat-room-list-item">
              <div class="group-img">
                <i class="fab fa-sistrix"></i>
              </div>
                <div class="chat-room-list-info">
                  <form action="/add-me" method="get">
                    <h5><%= group.name %></h5>
                    <button class="chat-btn" name="group" value="<%= group.id %>" type="submit">Add me</button>
                  </form>
                </div>
            </div>
            <%- end -%>
          </aside>
        </div>

          <div class="room-messages">
            <div class="room-message-header">
              <h4><%= group.name %></h4>
            </div>
            <main id="chat"></main>
          </div>
        </div>
    </main>

    <script src="/javascripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
