<html>
<head>
  <title>Home page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="header">
  Hello, <%= user.name %> <%= user.surname %>
  <form name="logout-form" class="logout-form" action="/log-out" method="get">
    <button type="submit" class="submit">Log out</button>
  </form>
</div>
    <%= content %>
</body>
</html>
