input {
  outline: none;
}

button {
  border: none;
}

/* Home Modals */
.modal-dialog {
  max-width: 730px;
}

.modal-content {
  border-radius: 0;
  border: none;
}

#loginModal .modal-content {
  padding: 90px 30px 110px;
}

#registrationModal .modal-content {
  padding: 90px 70px 50px;
}

.home-title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  color: #5F5A5A;
}

form[name="login-form"] {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

form[name="registration-form"] {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.home-form-control {
  height: 43px;
  color: #3A3A3A;
  font-size: 14px;
  font-weight: 400;
  padding-left: 40px;
  width: 100%;
}

.home-form-group {
  position: relative;
  color: #3A3A3A;
}

.home-form-group + .home-form-group {
  margin-top: 8px;
}

.home-form-group i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #3A3A3A;
}

#loginModal .home-form-group i {
  left: 18px;
}

#registrationModal .home-form-group i {
  left: 13px;
}

.home-btn-group {
  margin: 18px 0px;
}

.home-btn-group .submit {
  width: 100%;
  height: 48px;
  background-color: #5F5A5A;
  color: #fff;
}

#loginModal .close {
  position: absolute;
  top: -25%;
  left: 97%;
}

#registrationModal .close {
  position: absolute;
  top: -12%;
  right: -6%;
}

/* /Home Modals */

.home-header {
  margin-top: 212px;
}

.home-header i {
  font-size: 100px;
  margin-bottom: 15px;
}

.home-btn-group .grey-btn {
  background-color: #e5e5e5;
  height: 48px;
  width: 140px;
}
